<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
    <select id="selectBlog" resultType="hello.entity.Blog">
        SELECT * FROM blog
        <if test="user_id != null">
            WHERE user_id = #{user_id}
        </if>
        limit ${offset}, #{limit}
    </select>
    <select id="countBlog" resultType="int">
        SELECT count(*) FROM blog
        <if test="user_id != null">
            WHERE user_id = #{userId}
        </if>
    </select>
</mapper>